* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

h2 {
  margin: 0 0 20px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}

section {
  padding: 90px 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.gradient_text {
  font-weight: 600;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#checkbox-menu,
.toggle {
  display: none;
}

.head {
  padding: 0 0 90px;
  min-height: 100vh;
}

header {
  background-color: #323232;
}
header a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  transition: color 0.2s linear;
  font-weight: 600;
}
header a:hover {
  color: #f79a88;
}
header .active {
  color: #f79a88;
}
header .active:hover {
  color: #fff;
}
@media (max-width: 767px) {
  header .burger {
    position: absolute;
    right: 10px;
    font-size: 28px;
    color: #f79a88;
    transition: color 0.3s linear;
  }
  header li.logo {
    display: none;
  }
  header .toggle {
    display: block;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    transition: color 0.3s linear;
  }
  header #checkbox-menu:checked + label .touch li {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s linear;
  }
  header #checkbox-menu:checked + label .touch {
    height: 200px;
  }
  header #checkbox-menu:checked + label .toggle {
    color: #f79a88, 30%;
  }
  header #checkbox-menu:checked + label .burger {
    color: #fff;
  }
  header .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 0;
    transition: height 0.3s linear;
  }
  header .menu_item {
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}
.menu .menu_item {
  width: 103px;
}
.menu .logo {
  font-size: 48px;
}

.triangle {
  display: block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-clip-path: polygon(100% 0, 50% 80%, 0 0);
          clip-path: polygon(100% 0, 50% 80%, 0 0);
  margin: 0 auto;
  width: 100px;
  height: 30px;
  position: relative;
  top: -3px;
}

.banner_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px;
}
.banner_part .outer_circle {
  display: none;
}
@media (max-width: 767px) {
  .banner_part .small_circle {
    display: none;
  }
}
@media (max-width: 991px) {
  .banner_part .middle_circle {
    display: none;
  }
}
@media (min-width: 1480px) {
  .banner_part .outer_circle {
    display: block;
  }
}
@media (min-width: 768px) {
  .banner_part {
    height: 100%;
    justify-content: center;
  }
}

.row_sota {
  display: flex;
}

.sota_item {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin: 5px;
  width: 230px;
  height: 200px;
}
@media (max-width: 575px) {
  .sota_item {
    max-width: 180px;
    min-width: 140px;
    width: 100%;
    height: 140px;
  }
}
.sota_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  transition: 0.8s linear;
}
.sota_item img:hover {
  transform: scale(1.1);
}

.promo_part {
  background: url(../assets/img/1587043052_30-p-foni-dlya-internet-magazinov-73.jpg) no-repeat 20% 0;
  padding: 10px;
}
@media (min-width: 992px) {
  .promo_part {
    height: 1000px;
    padding: 90px 10px;
    background-position: 50% 0;
  }
  .promo_part .gistogramma {
    max-width: 500px;
    height: 560px;
  }
  .promo_part .list_item_sotra .smile {
    font-size: 64px;
  }
}
@media (max-width: 575px) {
  .promo_part {
    padding: 0;
    background-position: 35% 5%;
  }
}
.promo_part .gistogramm_area {
  display: flex;
  justify-content: flex-end;
  height: 63%;
}
.promo_part .gistogramma {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
  height: 700px;
  width: 100%;
  padding: 20px 10px;
  background: linear-gradient(to top, #171717e6, transparent);
}
.promo_part .gistogramma li {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.promo_part .gistogramma p {
  font-size: 16px;
}
@media (max-width: 575px) {
  .promo_part .gistogramma {
    padding: 90px 3px 20px;
    height: 500px;
  }
  .promo_part .gistogramma p {
    font-size: 12px;
  }
}
.promo_part .gistogram_column {
  margin: 5px;
  height: 100%;
  padding: 8px 4px 0;
  transition: all 0.2s linear;
}
.promo_part .li1 {
  height: 24%;
}
.promo_part .li2 {
  height: 28%;
}
.promo_part .li3 {
  height: 30%;
}
.promo_part .li4 {
  height: 40%;
}
.promo_part .li5 {
  height: 100%;
}
.promo_part .list_item {
  width: 100%;
  max-width: 100px;
  min-width: 40px;
}
.promo_part .list_item .gistogram_column {
  background-color: #b2b2b2;
  color: #fff;
}
.promo_part .list_item .gistogram_column .smile {
  font-size: 42px;
}
.promo_part .list_item .gistogram_column:hover {
  background-color: #7f7f7f;
}
@media (max-width: 575px) {
  .promo_part .list_item .gistogram_column {
    padding: 2px;
  }
  .promo_part .list_item .gistogram_column p {
    font-size: 12px;
  }
  .promo_part .list_item .gistogram_column .smile {
    font-size: 28px;
  }
}
.promo_part .list_item_sotra {
  width: 100%;
  max-width: 130px;
  min-width: 60px;
}
.promo_part .list_item_sotra .gistogram_column {
  background-color: #fff;
}
.promo_part .list_item_sotra .gistogram_column p {
  color: #f79a88;
  font-weight: 600;
  font-size: 24px;
}
.promo_part .list_item_sotra .gistogram_column .smile {
  font-size: 64px;
  color: #f79a88;
  transition: all 0.2s linear;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promo_part .list_item_sotra .gistogram_column:hover .smile {
  color: #d82f0e;
  transform: scale(1.3);
  margin: 10px;
}
@media (max-width: 575px) {
  .promo_part .list_item_sotra .gistogram_column {
    padding: 2px;
  }
  .promo_part .list_item_sotra .gistogram_column p {
    font-size: 12px;
  }
  .promo_part .list_item_sotra .gistogram_column .smile {
    font-size: 36px;
  }
}

.about_part {
  color: #616161;
}

.service {
  margin-bottom: 50px;
}
.service .row {
  display: flex;
  justify-content: space-between;
}

.service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  text-align: center;
}
.service_item p {
  font-size: 14px;
}
.service_item h4 {
  margin: 15px 0;
}
.service_item .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdebe8;
  width: 63px;
  height: 63px;
  color: #f79a88;
  border-radius: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 575px) {
  .service_item p {
    font-size: 10px;
  }
  .service_item h4 {
    font-size: 14px;
  }
}

.block_vacancies {
  color: #616161;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.block_vacancies__title, .block_vacancies__subtitle {
  text-align: center;
  font-size: 42px;
  margin: 20px 0;
}
.block_vacancies__subtitle {
  font-size: 20px;
  max-width: 1200px;
}
.block_vacancies__area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block_vacancies .vacancy_item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  margin: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 575px) {
  .block_vacancies .vacancy_item {
    margin: 40px 0px;
  }
}
.block_vacancies .vacancy_item__banner {
  height: 200px;
}
.block_vacancies .vacancy_item__banner h4 {
  color: #fff;
  font-size: 30px;
}
.block_vacancies .vacancy_item__banner .darken {
  height: 100%;
  width: 100%;
  background: #0000006e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_vacancies .vacancy_item .baner_model {
  background: url(../assets/img/2.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item .baner_admin {
  background: url(../assets/img/anastasiia-liiman-nastia-devushka-poza-krasnoe-plate-plate-d.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item .baner_driver {
  background: url(../assets/img/photo_2020-07-01_15-13-07.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item .baner_cleaner {
  background: url(../assets/img/507911z34b929ea.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item__promo {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 10px;
}
.block_vacancies .vacancy_item__promo .col {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #616161;
  font-weight: 600;
}
.block_vacancies .vacancy_item__promo .col__title {
  font-size: 16px;
}
.block_vacancies .vacancy_item__promo .col ul {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
}
.block_vacancies .vacancy_item__promo .col ul li {
  margin: 10px 0;
  min-height: 30px;
}
.block_vacancies .vacancy_item__promo .col_right {
  text-align: end;
}
.block_vacancies .vacancy_item__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_vacancies .vacancy_item__bottom .cash_level {
  color: #616161;
  font-size: 16px;
  font-weight: 600;
}
.block_vacancies .vacancy_item__bottom button {
  width: 226px;
  border: none;
  padding: 14px;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  box-shadow: 0 0 10px #f79a88;
  color: #a8250b;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 24px;
  transition: all 0.2s linear;
}
.block_vacancies .vacancy_item__bottom button:hover {
  background: linear-gradient(-90deg, #f79a88, #fdebe8);
  transform: scale(0.9);
}

.callback_part {
  background-color: #323232;
}
.callback_part p {
  text-align: center;
  color: #a0a0a0;
}
.callback_part .h2 {
  font-size: 42px;
}

.form_area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.form_area .blockText {
  max-width: 280px;
  width: 100%;
  padding: 10px;
}
.form_area .blockText p {
  text-align: start;
}
.form_area .blockText .contacts {
  margin-top: 50px;
}
.form_area .blockText .contacts p {
  margin-top: 10px;
}
.form_area .blockText .contacts i {
  color: #f79a88;
  width: 16px;
  margin-right: 14px;
}
.form_area .blockText .contacts i:hover {
  color: #fac3b8;
}
.form_area span {
  color: #e0e0e0;
}
.form_area form {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.form_area form input,
.form_area form textarea {
  padding: 10px;
  background-color: #454545;
  border: none;
  margin-top: 10px;
  resize: none;
  outline: none;
}
.form_area form button {
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  box-shadow: 0 0 10px #f79a88;
  color: #a8250b;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  color: #fff;
  box-shadow: 0 0 10px #f79a88;
  width: 150px;
  float: right;
  transition: all 0.2s linear;
}
.form_area form button:hover {
  background: linear-gradient(-90deg, #f79a88, #fdebe8);
  transform: scale(0.9);
}
@media (max-width: 991px) {
  .form_area {
    flex-direction: column;
    align-items: center;
  }
  .form_area .form {
    margin-right: 20px;
  }
  .form_area .blockText {
    display: none;
  }
}

footer {
  background-color: #222;
  padding: 16px 40px;
}
footer p {
  color: #454545;
}