* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

h2 {
  margin: 0 0 20px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}

section {
  padding: 90px 10px;
}
@media (max-width: 575px) {
  section {
    padding: 50px 10px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#checkbox-menu,
.toggle {
  display: none;
}

.head {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  font-family: sans-serif;
  background-color: #323232;
}
header a {
  color: #fff;
  margin: 0 10px;
  transition: color 0.2s linear;
  font-weight: 600;
}
header a:hover {
  color: #f79a88;
}
header .active {
  color: #f79a88;
}
header .active:hover {
  color: #fff;
}
@media (max-width: 767px) {
  header .burger {
    position: absolute;
    right: 10px;
    font-size: 28px;
    color: #f79a88;
    transition: color 0.3s linear;
  }
  header li.logo {
    display: none;
  }
  header .toggle {
    display: block;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    transition: color 0.3s linear;
  }
  header #checkbox-menu:checked + label .touch li {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s linear;
  }
  header #checkbox-menu:checked + label .touch {
    height: 200px;
  }
  header #checkbox-menu:checked + label .toggle {
    color: #f79a88, 30%;
  }
  header #checkbox-menu:checked + label .burger {
    color: #fff;
  }
  header .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 0;
    transition: height 0.3s linear;
  }
  header .menu_item {
    flex: 1;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }
}

.banner_conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}
.menu .menu_item {
  width: 103px;
}
.menu .logo {
  font-size: 48px;
}

.triangle {
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  display: block;
  -webkit-clip-path: polygon(100% 0, 50% 80%, 0 0);
          clip-path: polygon(100% 0, 50% 80%, 0 0);
  margin: 0 auto;
  width: 100px;
  height: 30px;
}

.sota_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sota_area .outer_circle {
  display: none;
}
@media (max-width: 767px) {
  .sota_area .small_circle {
    display: none;
  }
}
@media (max-width: 991px) {
  .sota_area .middle_circle {
    display: none;
  }
}
@media (min-width: 1480px) {
  .sota_area .outer_circle {
    display: block;
  }
}
@media (min-width: 768px) {
  .sota_area {
    height: 100%;
    justify-content: center;
  }
}

.row_sota {
  display: flex;
}

.sota_item {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin: 5px;
  width: 230px;
  height: 200px;
}
@media (max-width: 575px) {
  .sota_item {
    max-width: 180px;
    min-width: 140px;
    width: 100%;
    height: 140px;
  }
}
.sota_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  transition: 0.8s linear;
}
.sota_item img:hover {
  transform: scale(1.1);
}

.head_bottom {
  display: flex;
  background-color: #323232;
}
.head_bottom .contacts {
  flex: 2;
}
.head_bottom .contacts a {
  display: flex;
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 16px;
  transition: 0.4s;
}
.head_bottom .contacts a img {
  width: 20px;
  fill: #f79a88;
}
.head_bottom .contacts a:hover {
  transform: scale(1.1);
}
.head_bottom .contacts i {
  margin-right: 10px;
  font-size: 18px;
}
.head_bottom .messengers {
  flex: 1;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
}
.head_bottom .messengers ul {
  justify-content: space-evenly;
}
.head_bottom .messengers a {
  font-size: 36px;
  color: #323232;
}
.head_bottom .messengers a i {
  transition: 0.4s;
}
.head_bottom .messengers a i:hover {
  transform: scale(1.1);
}
.head_bottom ul {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
@media (max-width: 767px) {
  .head_bottom {
    flex-direction: column;
  }
  .head_bottom .contacts a {
    font-size: 13px;
  }
}

.promo_part {
  background: url(../assets/banner/banner.jpg) no-repeat 20% 0%;
  background-size: auto 100%;
  padding: 10px;
}
@media (min-width: 992px) {
  .promo_part {
    height: 100vh;
  }
  .promo_part .gistogramma {
    max-width: 500px;
    height: 560px;
    flex-direction: row-reverse;
  }
  .promo_part .list_item_sotra .smile {
    font-size: 64px;
  }
}
@media (max-width: 575px) {
  .promo_part {
    padding: 0;
  }
}
.promo_part .gistogramm_area {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.promo_part .gistogramma {
  height: 700px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  padding: 20px 10px;
  background: linear-gradient(to top, #171717e6, transparent);
}
.promo_part .gistogramma li {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 575px) {
  .promo_part .gistogramma {
    padding: 90px 3px 20px;
    height: 500px;
  }
  .promo_part .gistogramma p {
    font-size: 13px;
    font-weight: 600;
  }
}
.promo_part .gistogram_column {
  margin: 5px;
  height: 100%;
  padding: 8px 4px 0;
  transition: all 0.2s linear;
}
.promo_part .li1 {
  height: 24%;
}
.promo_part .li2 {
  height: 28%;
}
.promo_part .li3 {
  height: 30%;
}
.promo_part .li4 {
  height: 40%;
}
.promo_part .li5 {
  height: 100%;
}
.promo_part .list_item {
  width: 100%;
  max-width: 100px;
  min-width: 40px;
}
.promo_part .list_item .gistogram_column {
  background-color: #b2b2b2;
  color: #fff;
}
.promo_part .list_item .gistogram_column .smile {
  font-size: 42px;
}
.promo_part .list_item .gistogram_column:hover {
  background-color: #7f7f7f;
}
@media (max-width: 575px) {
  .promo_part .list_item .gistogram_column {
    padding: 2px;
  }
  .promo_part .list_item .gistogram_column p {
    font-size: 12px;
  }
  .promo_part .list_item .gistogram_column .smile {
    font-size: 28px;
  }
}
.promo_part .list_item_sotra {
  width: 100%;
  max-width: 130px;
  min-width: 60px;
}
.promo_part .list_item_sotra .gistogram_column {
  background-color: #fff;
}
.promo_part .list_item_sotra .gistogram_column p {
  color: #f79a88;
  font-weight: 600;
  font-size: 24px;
}
.promo_part .list_item_sotra .gistogram_column .smile {
  font-size: 64px;
  color: #f79a88;
  transition: all 0.2s linear;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promo_part .list_item_sotra .gistogram_column:hover .smile {
  color: #d82f0e;
  transform: scale(1.3);
  margin: 10px;
}
@media (max-width: 575px) {
  .promo_part .list_item_sotra .gistogram_column {
    padding: 2px;
  }
  .promo_part .list_item_sotra .gistogram_column p {
    font-size: 12px;
  }
  .promo_part .list_item_sotra .gistogram_column .smile {
    font-size: 36px;
  }
}

.about_part {
  color: #616161;
  text-align: center;
}
.about_part__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}
.about_part__description {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 576px) {
  .about_part__description {
    font-size: 16px;
    line-height: 26px;
  }
}

.service {
  margin-bottom: 50px;
}
.service .row {
  display: flex;
  justify-content: space-between;
}

.service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  text-align: center;
  margin-bottom: 20px;
}
.service_item__description {
  font-size: 14px;
}
.service_item__title {
  margin: 15px 0;
}
.service_item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdebe8;
  width: 63px;
  height: 63px;
  color: #f79a88;
  border-radius: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 575px) {
  .service_item {
    padding: 4px;
  }
  .service_item__description {
    font-size: 10px;
  }
  .service_item__title {
    font-size: 14px;
    font-weight: 500;
  }
  .service_item__circle {
    width: 50px;
    height: 50px;
    padding: 4px;
    font-size: 28px;
  }
}

.block_vacancies {
  color: #616161;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 40px;
}
.block_vacancies__title {
  text-align: center;
  font-size: 42px;
  margin: 30px 0;
}
.block_vacancies__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.block_vacancies__area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 575px) {
  .block_vacancies__title {
    font-size: 24px;
  }
  .block_vacancies__subtitle {
    font-size: 14px;
    line-height: 24px;
  }
}
.block_vacancies .vacancy_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  min-height: 500px;
  margin: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 575px) {
  .block_vacancies .vacancy_item {
    margin: 40px 0px;
  }
}
.block_vacancies .vacancy_item:hover {
  box-shadow: 0px 0px 18px 3px #9c9c9c;
  transform: scale(1.01);
}
.block_vacancies .vacancy_item .banner_model {
  background: url(../assets/vacansy/model.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item .banner_admin {
  background: url(../assets/vacansy/admin.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item .banner_driver {
  background: url(../assets/vacansy/driver.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block_vacancies .vacancy_item__banner {
  height: 200px;
}
.block_vacancies .vacancy_item__banner h4 {
  color: #fff;
  font-size: 30px;
}
.block_vacancies .vacancy_item__banner .darken {
  height: 100%;
  width: 100%;
  background: #0000006e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_vacancies .vacancy_item__promo {
  padding: 16px;
}
.block_vacancies .vacancy_item__promo-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #616161;
  text-align: center;
  font-weight: 600;
}
.block_vacancies .vacancy_item__promo-description {
  font-size: 14px;
  line-height: 22px;
  color: #616161;
}
@media (max-width: 575px) {
  .block_vacancies .vacancy_item__promo-description {
    font-size: 12px;
  }
}
.block_vacancies .vacancy_item__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_vacancies .vacancy_item__bottom .cash_level {
  color: #616161;
  font-size: 16px;
  font-weight: 600;
}
.block_vacancies .vacancy_item__bottom a {
  text-align: center;
  width: 226px;
  border: none;
  padding: 14px;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  box-shadow: 0 0 7px #f79a88;
  color: #a8250b;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 24px;
  transition: all 0.4s ease-in-out;
  outline: none;
}
.block_vacancies .vacancy_item__bottom a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #f79a88;
}

.vacancy_preview {
  color: #616161;
}
.vacancy_preview .banner_model {
  background: url(../assets/vacansy_items/model.jpg) no-repeat 0 0;
  background-size: cover;
}
.vacancy_preview .banner_admin {
  background: url(../assets/vacansy_items/admin.jpg) no-repeat 0 0;
  background-size: cover;
}
.vacancy_preview .banner_driver {
  background: url(../assets/vacansy_items/driver.jpg) no-repeat 0 0;
  background-size: cover;
}
@media (max-width: 1999px) {
  .vacancy_preview .banner_model {
    background: url(../assets/vacansy_items/modelb_mob.jpg) no-repeat center top;
    background-size: auto;
  }
  .vacancy_preview .banner_admin {
    background: url(../assets/vacansy_items/adminb_mob.jpg) no-repeat center top;
    background-size: auto;
  }
  .vacancy_preview .banner_driver {
    background: url(../assets/vacansy_items/driverb_mob.jpg) no-repeat left top;
    background-size: auto;
  }
}
.vacancy_preview__banner {
  height: 420px;
}
.vacancy_preview__banner .darken {
  height: 100%;
  width: 100%;
  background: #0000006e;
}
.vacancy_preview__banner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vacancy_preview__banner-title, .vacancy_preview__banner-subtitle {
  color: #fff;
  letter-spacing: 1px;
}
.vacancy_preview__banner-title {
  font-size: 20px;
}
.vacancy_preview__banner-title hr {
  display: inline-block;
  width: 20px;
  position: relative;
  bottom: 5px;
}
.vacancy_preview__banner-subtitle {
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .vacancy_preview__banner-inner {
    justify-content: flex-end;
  }
  .vacancy_preview__banner-title {
    padding-left: 16px;
    padding-bottom: 16px;
  }
  .vacancy_preview__banner-subtitle {
    font-size: 52px;
  }
}
@media (max-width: 575px) {
  .vacancy_preview__banner-title {
    padding-left: 16px;
    padding-bottom: 16px;
  }
  .vacancy_preview__banner-title hr {
    width: 10px;
  }
  .vacancy_preview__banner-subtitle {
    font-size: 32px;
  }
}
.vacancy_preview__navigation {
  margin-top: 20px;
  margin-bottom: 50px;
}
.vacancy_preview__navigation ul {
  display: inline-flex;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
}
.vacancy_preview__navigation ul li + li {
  margin-left: 10px;
}
@media (max-width: 575px) {
  .vacancy_preview__navigation ul {
    font-size: 14px;
    padding-left: 16px;
  }
}
.vacancy_preview__navigation a {
  color: #323232;
  transition: 0.2s;
}
.vacancy_preview__navigation a.active {
  color: #f79a88;
}
.vacancy_preview__navigation a:hover {
  color: #f79a88;
}
.vacancy_preview__promo-text {
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .vacancy_preview__promo-text {
    font-size: 14px;
    line-height: 23px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.vacancy_preview__description-list {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}
.vacancy_preview__description-list ul {
  list-style: disc;
}
.vacancy_preview__description-list ul li {
  font-size: 20px;
  line-height: 32px;
  margin-left: 20px;
}
.vacancy_preview__description-list ul .title {
  margin-left: 0;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-image: linear-gradient(90deg, #f79a88, #fdebe8) 1;
}
@media (max-width: 991px) {
  .vacancy_preview__description-list {
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
  }
}
@media (max-width: 575px) {
  .vacancy_preview__description-list ul li {
    font-size: 16px;
    line-height: 26px;
  }
  .vacancy_preview__description-list ul .title {
    font-size: 18px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
}

.callback_part {
  background-color: #323232;
  text-align: center;
}
.callback_part p,
.callback_part a {
  color: #a0a0a0;
}
.callback_part .h2 {
  font-size: 42px;
  font-weight: 600;
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 575px) {
  .callback_part .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .callback_part p {
    font-size: 14px;
    line-height: 24px;
  }
}

#area_after_form_send {
  display: none;
  font-size: 28px;
  line-height: 34px;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.form_area .blockText {
  max-width: 280px;
  width: 100%;
  padding: 10px;
}
.form_area .blockText span {
  font-weight: 600;
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form_area .blockText p {
  text-align: start;
}
.form_area .blockText .contacts {
  margin-top: 50px;
}
.form_area .blockText .contacts ul {
  list-style: none;
  text-align: start;
}
.form_area .blockText .contacts a {
  margin-top: 10px;
  line-height: 26px;
}
.form_area .blockText .contacts i {
  color: #f79a88;
  width: 16px;
  margin-right: 14px;
}
.form_area .blockText .contacts i:hover {
  color: #fac3b8;
}
.form_area span {
  color: #e0e0e0;
}
.form_area form {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.form_area form input,
.form_area form textarea {
  padding: 10px;
  background-color: #454545;
  border: none;
  margin-top: 10px;
  resize: none;
  outline: none;
}
.form_area form input:focus,
.form_area form textarea:focus {
  background-color: #686565;
}
.form_area form ::-webkit-input-placeholder {
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.form_area form ::-moz-placeholder {
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.form_area form :-moz-placeholder {
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.form_area form :-ms-input-placeholder {
  display: inline-block;
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.form_area form button {
  background: linear-gradient(90deg, #f79a88, #fdebe8);
  box-shadow: 0 0 7px #f79a88;
  color: #a8250b;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  width: 150px;
  float: right;
  transition: all 0.4s ease-in-out;
}
.form_area form button:hover {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .form_area {
    flex-direction: column;
    align-items: center;
  }
  .form_area .form {
    margin-right: 20px;
  }
  .form_area .blockText {
    display: none;
  }
}

footer {
  background-color: #222;
  padding: 16px 40px;
}
footer p {
  color: #454545;
}