@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin gradient_text {
    display: inline-block;
    background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

$brand_header_color: #323232;
$brand_link_color: #f79a88;
$brand_text_color: #fff;
$brand_text_color_dark: #616161;
// ----------------------------
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ****************************
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1999px;
// ----------------------------
// === common ===
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    @include Montserrat;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

section {
    padding: 90px 10px;
    @media (max-width: $screen_xs_max) {
        padding: 50px 10px;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

// === / common ===
// === / header ===
#checkbox-menu,
.toggle {
    display: none;
}

.head {
    padding: 0;
    min-height: 100vh;
}

header {
    font-family: sans-serif;
    background-color: $brand_header_color;
    a {
        color: $brand_text_color;
        margin: 0 10px;
        transition: color .2s linear;
        font-weight: 600;
        &:hover {
            color: $brand_link_color;
        }
    }
    .active {
        color: $brand_link_color;
        // @include gradient_text();
        &:hover {
            color: $brand_text_color;
        }
    }
    @media (max-width: $screen_sm_max) {
        .burger {
            position: absolute;
            right: 10px;
            font-size: 28px;
            color: $brand_link_color;
            transition: color .3s linear;
        }
        li.logo {
            display: none;
        }
        .toggle {
            display: block;
            font-size: 42px;
            line-height: 48px;
            color: $brand_text_color;
            text-align: center;
            transition: color .3s linear;
        }
        #checkbox-menu:checked+label .touch li {
            visibility: visible;
            opacity: 1;
            transition: all .7s linear;
        }
        #checkbox-menu:checked+label .touch {
            height: 200px;
        }
        #checkbox-menu:checked+label .toggle {
            color: $brand_link_color, 30%;
        }
        #checkbox-menu:checked+label .burger {
            color: $brand_text_color;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0;
            transition: height .3s linear;
        }
        .menu_item {
            display: flex;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    .menu_item {
        width: 103px;
    }
    .logo {
        font-size: 48px;
    }
}

.triangle {
    display: block;
    // background-color: $brand_link_color;
    background: linear-gradient(90deg, #f79a88, #fdebe8);
    clip-path: polygon(100% 0, 50% 80%, 0 0);
    margin: 0 auto;
    width: 100px;
    height: 30px;
    position: relative;
    top: -3px;
}

// === / header ===
// === banner part ===
.banner_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 10px;
    .outer_circle {
        display: none;
    }
    @media (max-width: $screen_sm_max) {
        // padding: 10px 0;
        .small_circle {
            display: none;
        }
    }
    @media (max-width: $screen_lg_max) {
        .middle_circle {
            display: none;
        }
    }
    @media (min-width: 1480px) {
        .outer_circle {
            display: block;
        }
    }
    @media (min-width: $screen_md) {
        height: 100%;
        justify-content: center;
    }
}

.row_sota {
    display: flex;
}

.sota_item {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 5px;
    width: 230px;
    height: 200px;
    @media (max-width: $screen_xs_max) {
        max-width: 180px;
        min-width: 140px;
        width: 100%;
        height: 140px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        transition: .8s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}

// === / banner part ===
// === promo_part ===
.promo_part {
    background: url(../assets/img/1587043052_30-p-foni-dlya-internet-magazinov-73.jpg) no-repeat 20% 0;
    padding: 10px;
    @media (min-width: $screen_lg) {
        height: 1000px;
        padding: 90px 10px;
        background-position: 50% 0;
        .gistogramma {
            max-width: 500px;
            height: 560px;
        }
        .list_item_sotra .smile {
            font-size: 64px;
        }
    }
    @media (max-width: $screen_xs_max) {
        padding: 0;
        background-position: 35% 5%;
    }
    .gistogramm_area {
        display: flex;
        justify-content: flex-end;
        height: 63%;
    }
    .gistogramma {
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        height: 700px;
        width: 100%;
        padding: 20px 10px;
        background: linear-gradient(to top, #171717e6, transparent);
        li {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            font-size: 18px;
            color: $brand_text_color;
        }
        p {
            font-size: 16px;
        }
        @media (max-width: $screen_xs_max) {
            padding: 90px 3px 20px;
            height: 500px;
            p {
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
    .gistogram_column {
        margin: 5px;
        height: 100%;
        padding: 8px 4px 0;
        transition: all .2s linear;
    }
    .li1 {
        height: 24%;
    }
    .li2 {
        height: 28%;
    }
    .li3 {
        height: 30%;
    }
    .li4 {
        height: 40%;
    }
    .li5 {
        height: 100%;
    }
    .list_item {
        width: 100%;
        max-width: 100px;
        min-width: 40px;
        .gistogram_column {
            background-color: lighten($brand_header_color, 50%);
            color: $brand_text_color;
            .smile {
                font-size: 42px;
            }
            &:hover {
                background-color: lighten($brand_header_color, 30%);
            }
            @media (max-width: $screen_xs_max) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 28px;
                }
            }
        }
    }
    .list_item_sotra {
        width: 100%;
        max-width: 130px;
        min-width: 60px;
        .gistogram_column {
            background-color: $brand_text_color;
            p {
                color: $brand_link_color;
                font-weight: 600;
                font-size: 24px;
            }
            .smile {
                font-size: 64px;
                color: $brand_link_color;
                transition: all .2s linear;
                background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover .smile {
                color: darken($brand_link_color, 30%);
                transform: scale(1.3);
                margin: 10px;
            }
            @media (max-width: $screen_xs_max) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 36px;
                }
            }
        }
    }
}

// === / promo_part ===
// === about_part ===
.about_part {
    color: $brand_text_color_dark;
    text-align: center;
    &__title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
    }
    @media (min-width: $screen_sm) {
        &__description {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.service {
    margin-bottom: 50px;
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.service_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    &__description {
        font-size: 14px;
    }
    &__title {
        margin: 15px 0;
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lighten($brand_link_color, 20%);
        width: 63px;
        height: 63px;
        color: $brand_link_color;
        border-radius: 50%;
        padding: 10px;
        font-size: 40px;
        text-align: center;
    }
    @media (max-width: $screen_xs_max) {
        padding: 4px;
        &__description {
            font-size: 10px;
        }
        &__title {
            font-size: 14px;
            font-weight: 500;
        }
        &__circle {
            width: 50px;
            height: 50px;
            padding: 4px;
            font-size: 28px;
        }
    }
}

// === / about_part ===
// === block_vacancies PAGE===
.block_vacancies {
    color: $brand_text_color_dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 40px;
    &__title {
        text-align: center;
        font-size: 42px;
        margin: 30px 0;
    }
    &__subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    &__area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: $screen_xs_max) {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .vacancy_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 350px;
        width: 100%;
        min-height: 500px;
        margin: 40px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all .4s ease-in-out;
        @media (max-width: $screen_xs_max) {
            margin: 40px 0px;
        }
        &:hover {
            box-shadow: 0px 0px 18px 3px rgba(156, 156, 156, 1);
            transform: scale(1.01);
        }
        .banner_model {
            background: url(../assets/vacansy/model.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        .banner_admin {
            background: url(../assets/vacansy/admin.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        .banner_driver {
            background: url(../assets/vacansy/driver.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        &__banner {
            height: 200px;
            h4 {
                color: #fff;
                font-size: 30px;
            }
            .darken {
                height: 100%;
                width: 100%;
                background: #0000006e;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__promo {
            padding: 16px;
            &-title {
                font-size: 18px;
                margin-bottom: 10px;
                color: $brand_text_color_dark;
                text-align: center;
                font-weight: 600;
            }
            &-description {
                font-size: 14px;
                line-height: 22px;
                color: $brand_text_color_dark;
                @media (max-width: $screen_xs_max) {
                    font-size: 12px;
                }
            }
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cash_level {
                color: #616161;
                font-size: 16px;
                font-weight: 600;
            }
            a {
                text-align: center;
                width: 226px;
                border: none;
                padding: 14px;
                background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
                box-shadow: 0 0 7px $brand_link_color;
                color: darken($brand_link_color, 40%);
                font-size: 16px;
                font-weight: 600;
                position: relative;
                top: 24px;
                transition: all .4s ease-in-out;
                outline: none;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 10px $brand_link_color;
                }
            }
        }
    }
}

// === / block_vacancies PAGE===
// === vacancies_item PAGE ===
.vacancy_preview {
    color: $brand_text_color_dark;
    .banner_model {
        background: url(../assets/vacansy/model.jpg) no-repeat 0% 54%;
        background-size: cover;
    }
    .banner_admin {
        background: url(../assets/vacansy/admin.jpg) no-repeat 53% 0;
        background-size: cover;
    }
    .banner_driver {
        background: url(../assets/vacansy/driver.jpg) no-repeat 0% 26%;
        background-size: cover;
    }
    @media (max-width: $screen_xs_max) {
        .banner_driver {
            background: url(../assets/vacansy/driver.jpg) no-repeat 100% 0;
            background-size: auto 100%;
        }
        .banner_admin {
            background: url(../assets/vacansy/admin.jpg) no-repeat 53% 0;
            background-size: auto 100%;
        }
        .banner_model {
            background: url(../assets/vacansy/model.jpg) no-repeat 63% 0;
            background-size: auto 100%;
        }
    }
    &__banner {
        height: 420px;
        .darken {
            height: 100%;
            width: 100%;
            background: #0000006e;
        }
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-title,
        &-subtitle {
            color: $brand_text_color;
            letter-spacing: 1px;
        }
        &-title {
            hr {
                display: inline-block;
                width: 20px;
                position: relative;
                bottom: 5px;
            }
            font-size: 20px;
        }
        &-subtitle {
            @include gradient_text;
            font-size: 72px;
            font-weight: 600;
        }
        @media (max-width: $screen_md_max) {
            &-inner {
                justify-content: flex-end;
            }
            &-title {
                padding-left: 16px;
                padding-bottom: 16px;
            }
            &-subtitle {
                font-size: 52px;
            }
        }
        @media (max-width: $screen_xs_max) {
            &-title {
                padding-left: 16px;
                padding-bottom: 16px;
                hr {
                    width: 10px;
                }
            }
            &-subtitle {
                font-size: 32px;
            }
        }
    }
    &__navigation {
        margin-top: 20px;
        margin-bottom: 50px;
        ul {
            display: inline-flex;
            list-style: none;
            font-size: 20px;
            font-weight: 600;
            li+li {
                margin-left: 10px;
            }
            @media (max-width: $screen_xs_max) {
                font-size: 14px;
                padding-left: 16px;
            }
        }
        a {
            color: $brand_header_color;
            transition: .2s;
            &.active {
                color: $brand_link_color;
            }
            &:hover {
                color: $brand_link_color;
            }
        }
    }
    &__promo-text {
        text-align: center;
        font-size: 17px;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: $screen_xs_max) {
            font-size: 14px;
            line-height: 23px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &__description-list {
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
        margin-bottom: 80px;
        ul {
            list-style: disc;
            li {
                font-size: 20px;
                line-height: 32px;
                margin-left: 20px;
            }
            .title {
                margin-left: 0;
                padding-left: 10px;
                margin-bottom: 20px;
                margin-top: 10px;
                list-style: none;
                font-size: 22px;
                font-weight: 600;
                border-bottom: 3px solid;
                border-top: 3px solid;
                border-image: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%)) 1;
            }
        }
        @media (max-width: $screen_md_max) {
            flex-direction: column;
            padding: 0 10px;
            margin: 0;
        }
        @media (max-width: $screen_xs_max) {
            ul {
                li {
                    font-size: 16px;
                    line-height: 26px;
                }
                .title {
                    font-size: 18px;
                    border-bottom: 2px solid;
                    border-top: 2px solid;
                }
            }
        }
    }
}

// === / vacancies_item PAGE===
// === callback_part ===
.callback_part {
    background-color: #323232;
    text-align: center;
    p {
        color: #a0a0a0;
    }
    .h2 {
        font-size: 42px;
        font-weight: 600;
        @include gradient_text;
    }
    @media (max-width: $screen_xs_max) {
        .h2 {
            font-size: 28px;
            line-height: 34px;
        }
        p {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.form_area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .blockText {
        max-width: 280px;
        width: 100%;
        padding: 10px;
        span {
            font-weight: 600;
            @include gradient_text;
        }
        p {
            text-align: start;
        }
        .contacts {
            margin-top: 50px;
            p {
                margin-top: 10px;
            }
            i {
                color: $brand_link_color;
                width: 16px;
                margin-right: 14px;
                &:hover {
                    color: lighten($brand_link_color, 10%);
                }
            }
        }
    }
    span {
        color: #e0e0e0;
    }
    form {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        input,
        textarea {
            padding: 10px;
            background-color: #454545;
            border: none;
            margin-top: 10px;
            resize: none;
            outline: none;
            &:focus {
                background-color: #686565;
            }
        }
         ::-webkit-input-placeholder {
            @include gradient_text;
            font-weight: 600;
        }
         ::-moz-placeholder {
            @include gradient_text;
            font-weight: 600;
        }
         :-moz-placeholder {
            @include gradient_text;
            font-weight: 600;
        }
         :-ms-input-placeholder {
            @include gradient_text;
            font-weight: 600;
        }
        button {
            background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
            box-shadow: 0 0 7px $brand_link_color;
            color: darken($brand_link_color, 40%);
            padding: 10px;
            margin-top: 10px;
            outline: none;
            border: none;
            width: 150px;
            float: right;
            transition: all .4s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        flex-direction: column;
        align-items: center;
        .form {
            margin-right: 20px;
        }
        .blockText {
            display: none;
        }
    }
}

// === / callback_part ===
footer {
    background-color: #222;
    padding: 16px 40px;
    p {
        color: #454545;
    }
}