$brand_header_color: #b8bcc7;
$brand_link_color: #f79a88;
$brand_text_color: #fff;
// ----------------------------
$screen_width_min_sm: 576px;
$screen_width_min_md: 768px;
$screen_width_min_lg: 992px;
$screen_width_min_xl: 1200px;
// ****************************
$screen_width_max_xs: 575px;
$screen_width_max_sm: 767px;
$screen_width_max_lg: 991px;
// ----------------------------
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

section {
    padding: 90px 10px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

#checkbox-menu,
.toggle {
    display: none;
}

.head {
    padding: 0 0 90px;
    @media (min-width: $screen_width_min_md) {
        height: 100vh;
    }
}

header {
    background-color: $brand_header_color;
    a {
        text-decoration: none;
        color: $brand_text_color;
        margin: 0 10px;
        transition: color .2s linear;
        font-weight: 600;
        &:hover {
            color: darken($brand_link_color, 30%);
        }
    }
    .active {
        color: darken($brand_link_color, 30%);
        &:hover {
            color: $brand_text_color;
        }
    }
    @media (max-width: $screen_width_max_sm) {
        .burger {
            position: absolute;
            right: 10px;
            font-size: 28px;
            color: darken($brand_link_color, 30%);
            transition: color .3s linear;
        }
        li.logo {
            display: none;
        }
        .toggle {
            display: block;
            font-size: 42px;
            line-height: 48px;
            color: #ffffff;
            text-align: center;
            transition: color .3s linear;
        }
        #checkbox-menu:checked+label .touch li {
            visibility: visible;
            opacity: 1;
            transition: all .7s linear;
        }
        #checkbox-menu:checked+label .touch {
            height: 200px;
        }
        #checkbox-menu:checked+label .toggle {
            color: darken($brand_link_color, 30%);
        }
        #checkbox-menu:checked+label .burger {
            color: #ffffff;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0;
            transition: height .3s linear;
        }
        .menu_item {
            display: flex;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    .menu_item {
        width: 103px;
    }
    .logo {
        font-size: 48px;
    }
}

.triangle {
    display: block;
    background-color: $brand_header_color;
    clip-path: polygon(100% 0, 50% 80%, 0 0);
    margin: 0 auto;
    width: 100px;
    height: 30px;
    position: relative;
    top: -3px;
}

.banner_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 10px;
    .outer_circle {
        display: none;
    }
    @media (max-width: $screen_width_max_sm) {
        // padding: 10px 0;
        .small_circle {
            display: none;
        }
    }
    @media (max-width: $screen_width_max_lg) {
        .middle_circle {
            display: none;
        }
    }
    @media (min-width: 1480px) {
        .outer_circle {
            display: block;
        }
    }
    @media (min-width: $screen_width_min_md) {
        height: 100%;
        justify-content: center;
    }
}

.row_sota {
    display: flex;
}

.sota_item {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 5px;
    width: 230px;
    height: 200px;
    @media (max-width: $screen_width_max_xs) {
        max-width: 180px;
        min-width: 140px;
        width: 100%;
        height: 140px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        transition: .8s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.about_us_part {
    background: url(../assets/img/1587043052_30-p-foni-dlya-internet-magazinov-73.jpg) no-repeat 20% 0;
    padding: 10px;
    @media (min-width: $screen_width_min_lg) {
        height: 1000px;
        padding: 90px 10px;
        background-position: 50% 0;
        .gistogramma {
            max-width: 500px;
            height: 560px;
        }
        .list_item_sotra .smile {
            font-size: 64px;
        }
    }
    @media (max-width: $screen_width_max_xs) {
        padding: 0;
        background-position: 35% 5%;
    }
    .gistogramm_area {
        display: flex;
        justify-content: flex-end;
        height: 63%;
    }
    .gistogramma {
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        height: 700px;
        width: 100%;
        padding: 20px 10px;
        background-color: #00000069;
        li {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            font-size: 18px;
            color: $brand_text_color;
        }
        p {
            font-size: 16px;
        }
        @media (max-width: $screen_width_max_xs) {
            padding: 90px 3px 20px;
            height: 500px;
            p {
                font-size: 12px;
            }
        }
    }
    .gistogram_column {
        margin: 5px;
        height: 100%;
        padding: 8px 4px 0;
        transition: all .2s linear;
    }
    .li1 {
        height: 24%;
    }
    .li2 {
        height: 28%;
    }
    .li3 {
        height: 30%;
    }
    .li4 {
        height: 40%;
    }
    .li5 {
        height: 100%;
    }
    .list_item {
        width: 100%;
        max-width: 100px;
        min-width: 40px;
        .gistogram_column {
            background-color: $brand_header_color;
            color: #887c7c;
            .smile {
                font-size: 42px;
            }
            &:hover {
                background-color: darken($brand_header_color, 10%);
            }
            @media (max-width: $screen_width_max_xs) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 28px;
                }
            }
        }
    }
    .list_item_sotra {
        width: 100%;
        max-width: 130px;
        min-width: 60px;
        .gistogram_column {
            background-color: $brand_text_color;
            p {
                color: darken($brand_link_color, 30%);
                font-weight: 600;
                font-size: 24px;
            }
            .smile {
                font-size: 64px;
                color: $brand_header_color;
                transition: all .2s linear;
            }
            &:hover .smile {
                color: darken($brand_link_color, 30%);
            }
            @media (max-width: $screen_width_max_xs) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 36px;
                }
            }
        }
    }
}

.service {
    margin-bottom: 50px;
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.service_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-align: center;
    p {
        font-size: 14px;
    }
    h4 {
        margin: 15px 0;
    }
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lighten($brand_link_color, 20%);
        width: 63px;
        height: 63px;
        color: $brand_link_color;
        border-radius: 50%;
        padding: 10px;
        font-size: 40px;
        text-align: center;
    }
    @media (max-width: $screen_width_max_xs) {
        p {
            font-size: 10px;
        }
        h4 {
            font-size: 14px;
        }
    }
}

.callback_part {
    background-color: #323232;
    p {
        text-align: center;
        color: #a0a0a0;
    }
    .h2 {
        font-size: 42px;
        color: #e0e0e0;
    }
}

.form_area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .blockText {
        max-width: 280px;
        width: 100%;
        padding: 10px;
        p {
            text-align: start;
        }
        .contacts {
            margin-top: 50px;
            p {
                margin-top: 10px;
            }
            i {
                color: $brand_link_color;
                width: 16px;
                margin-right: 14px;
                &:hover {
                    color: lighten($brand_link_color, 10%);
                }
            }
        }
    }
    span {
        color: #e0e0e0;
    }
    form {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        input,
        textarea {
            padding: 10px;
            background-color: #454545;
            border: none;
            margin-top: 10px;
            resize: none;
            outline: none;
        }
        button {
            background-color: $brand_link_color;
            padding: 10px;
            margin-top: 10px;
            outline: none;
            border: none;
            color: $brand_text_color;
            width: 150px;
            float: right;
            &:hover {
                transition: background .2s linear;
                background-color: lighten($brand_link_color, 10%);
            }
        }
    }
    @media (max-width: $screen_width_max_lg) {
        flex-direction: column;
        align-items: center;
        .form {
            margin-right: 20px;
        }
        .blockText {
            display: none;
        }
    }
}

footer {
    background-color: #222;
    padding: 16px 40px;
    p {
        color: #454545;
    }
}