@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}

$brand_header_color: #323232;
$brand_link_color: #f79a88;
$brand_text_color: #fff;
$brand_text_color_dark: #616161;
// ----------------------------
$screen_width_min_sm: 576px;
$screen_width_min_md: 768px;
$screen_width_min_lg: 992px;
$screen_width_min_xl: 1200px;
// ****************************
$screen_width_max_xs: 575px;
$screen_width_max_sm: 767px;
$screen_width_max_lg: 991px;
// ----------------------------
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

section {
    padding: 90px 10px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.gradient_text {
    font-weight: 600;
    background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

// === / header ===
#checkbox-menu,
.toggle {
    display: none;
}

.head {
    padding: 0 0 90px;
    min-height: 100vh;
}

header {
    background-color: $brand_header_color;
    a {
        text-decoration: none;
        color: $brand_text_color;
        margin: 0 10px;
        transition: color .2s linear;
        font-weight: 600;
        &:hover {
            color: $brand_link_color;
        }
    }
    .active {
        color: $brand_link_color;
        &:hover {
            color: $brand_text_color;
        }
    }
    @media (max-width: $screen_width_max_sm) {
        .burger {
            position: absolute;
            right: 10px;
            font-size: 28px;
            color: $brand_link_color;
            transition: color .3s linear;
        }
        li.logo {
            display: none;
        }
        .toggle {
            display: block;
            font-size: 42px;
            line-height: 48px;
            color: $brand_text_color;
            text-align: center;
            transition: color .3s linear;
        }
        #checkbox-menu:checked+label .touch li {
            visibility: visible;
            opacity: 1;
            transition: all .7s linear;
        }
        #checkbox-menu:checked+label .touch {
            height: 200px;
        }
        #checkbox-menu:checked+label .toggle {
            color: $brand_link_color, 30%;
        }
        #checkbox-menu:checked+label .burger {
            color: $brand_text_color;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0;
            transition: height .3s linear;
        }
        .menu_item {
            display: flex;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    .menu_item {
        width: 103px;
    }
    .logo {
        font-size: 48px;
    }
}

.triangle {
    display: block;
    // background-color: $brand_link_color;
    background: linear-gradient(90deg, #f79a88, #fdebe8);
    clip-path: polygon(100% 0, 50% 80%, 0 0);
    margin: 0 auto;
    width: 100px;
    height: 30px;
    position: relative;
    top: -3px;
}

// === / header ===
// === banner part ===
.banner_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 10px;
    .outer_circle {
        display: none;
    }
    @media (max-width: $screen_width_max_sm) {
        // padding: 10px 0;
        .small_circle {
            display: none;
        }
    }
    @media (max-width: $screen_width_max_lg) {
        .middle_circle {
            display: none;
        }
    }
    @media (min-width: 1480px) {
        .outer_circle {
            display: block;
        }
    }
    @media (min-width: $screen_width_min_md) {
        height: 100%;
        justify-content: center;
    }
}

.row_sota {
    display: flex;
}

.sota_item {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 5px;
    width: 230px;
    height: 200px;
    @media (max-width: $screen_width_max_xs) {
        max-width: 180px;
        min-width: 140px;
        width: 100%;
        height: 140px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        transition: .8s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}

// === / banner part ===
// === promo_part ===
.promo_part {
    background: url(../assets/img/1587043052_30-p-foni-dlya-internet-magazinov-73.jpg) no-repeat 20% 0;
    padding: 10px;
    @media (min-width: $screen_width_min_lg) {
        height: 1000px;
        padding: 90px 10px;
        background-position: 50% 0;
        .gistogramma {
            max-width: 500px;
            height: 560px;
        }
        .list_item_sotra .smile {
            font-size: 64px;
        }
    }
    @media (max-width: $screen_width_max_xs) {
        padding: 0;
        background-position: 35% 5%;
    }
    .gistogramm_area {
        display: flex;
        justify-content: flex-end;
        height: 63%;
    }
    .gistogramma {
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        height: 700px;
        width: 100%;
        padding: 20px 10px;
        background: linear-gradient(to top, #171717e6, transparent);
        li {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            font-size: 18px;
            color: $brand_text_color;
        }
        p {
            font-size: 16px;
        }
        @media (max-width: $screen_width_max_xs) {
            padding: 90px 3px 20px;
            height: 500px;
            p {
                font-size: 12px;
            }
        }
    }
    .gistogram_column {
        margin: 5px;
        height: 100%;
        padding: 8px 4px 0;
        transition: all .2s linear;
    }
    .li1 {
        height: 24%;
    }
    .li2 {
        height: 28%;
    }
    .li3 {
        height: 30%;
    }
    .li4 {
        height: 40%;
    }
    .li5 {
        height: 100%;
    }
    .list_item {
        width: 100%;
        max-width: 100px;
        min-width: 40px;
        .gistogram_column {
            background-color: lighten($brand_header_color, 50%);
            color: $brand_text_color;
            .smile {
                font-size: 42px;
            }
            &:hover {
                background-color: lighten($brand_header_color, 30%);
            }
            @media (max-width: $screen_width_max_xs) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 28px;
                }
            }
        }
    }
    .list_item_sotra {
        width: 100%;
        max-width: 130px;
        min-width: 60px;
        .gistogram_column {
            background-color: $brand_text_color;
            p {
                color: $brand_link_color;
                font-weight: 600;
                font-size: 24px;
            }
            .smile {
                font-size: 64px;
                color: $brand_link_color;
                transition: all .2s linear;
                background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover .smile {
                color: darken($brand_link_color, 30%);
                transform: scale(1.3);
                margin: 10px;
            }
            @media (max-width: $screen_width_max_xs) {
                padding: 2px;
                p {
                    font-size: 12px;
                }
                .smile {
                    font-size: 36px;
                }
            }
        }
    }
}

// === / promo_part ===
// === about_part ===
.about_part {
    color: $brand_text_color_dark;
}

.service {
    margin-bottom: 50px;
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.service_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-align: center;
    p {
        font-size: 14px;
    }
    h4 {
        margin: 15px 0;
    }
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lighten($brand_link_color, 20%);
        width: 63px;
        height: 63px;
        color: $brand_link_color;
        border-radius: 50%;
        padding: 10px;
        font-size: 40px;
        text-align: center;
    }
    @media (max-width: $screen_width_max_xs) {
        p {
            font-size: 10px;
        }
        h4 {
            font-size: 14px;
        }
    }
}

// === / about_part ===
// === block_vacancies ===
.block_vacancies {
    color: $brand_text_color_dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    &__title,
    &__subtitle {
        text-align: center;
        font-size: 42px;
        margin: 20px 0;
    }
    &__subtitle {
        font-size: 20px;
        max-width: 1200px;
    }
    &__area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .vacancy_item {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 100%;
        margin: 40px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        @media (max-width: $screen_width_max_xs) {
            margin: 40px 0px;
        }
        &__banner {
            height: 200px;
            h4 {
                color: #fff;
                font-size: 30px;
            }
            .darken {
                height: 100%;
                width: 100%;
                background: #0000006e;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .baner_model {
            background: url(../assets/img/2.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        .baner_admin {
            background: url(../assets/img/anastasiia-liiman-nastia-devushka-poza-krasnoe-plate-plate-d.jpg) no-repeat 50% 50%;
            background-size: cover;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     background: rgba(0, 0, 0, 0.5);
            // }
        }
        .baner_driver {
            background: url(../assets/img/photo_2020-07-01_15-13-07.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        .baner_cleaner {
            background: url(../assets/img/507911z34b929ea.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        &__promo {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 20px 10px;
            .col {
                width: 100%;
                @include Montserrat;
                color: #616161;
                font-weight: 600;
                &__title {
                    font-size: 16px;
                }
                ul {
                    list-style: none;
                    font-size: 12px;
                    font-weight: 500;
                    li {
                        margin: 10px 0;
                        min-height: 30px;
                    }
                }
            }
            .col_right {
                text-align: end;
            }
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cash_level {
                color: #616161;
                font-size: 16px;
                font-weight: 600;
            }
            button {
                width: 226px;
                border: none;
                padding: 14px;
                background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
                // background-color: $brand_link_color;
                box-shadow: 0 0 10px $brand_link_color;
                color: darken($brand_link_color, 40%);
                font-size: 16px;
                font-weight: 600;
                position: relative;
                top: 24px;
                transition: all .2s linear;
                &:hover {
                    // background: lighten($brand_link_color, 10%);
                    // box-shadow: none;
                    background: linear-gradient(-90deg, $brand_link_color, lighten($brand_link_color, 20%));
                    transform: scale(.9);
                }
            }
        }
    }
}

// === / block_vacancies ===
// === callback_part ===
.callback_part {
    background-color: #323232;
    p {
        text-align: center;
        color: #a0a0a0;
    }
    .h2 {
        font-size: 42px;
        // color: #e0e0e0;
    }
}

.form_area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .blockText {
        max-width: 280px;
        width: 100%;
        padding: 10px;
        p {
            text-align: start;
        }
        .contacts {
            margin-top: 50px;
            p {
                margin-top: 10px;
            }
            i {
                color: $brand_link_color;
                width: 16px;
                margin-right: 14px;
                &:hover {
                    color: lighten($brand_link_color, 10%);
                }
            }
        }
    }
    span {
        color: #e0e0e0;
    }
    form {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        input,
        textarea {
            padding: 10px;
            background-color: #454545;
            border: none;
            margin-top: 10px;
            resize: none;
            outline: none;
        }
        button {
            // background-color: $brand_link_color;
            background: linear-gradient(90deg, $brand_link_color, lighten($brand_link_color, 20%));
            // background-color: $brand_link_color;
            box-shadow: 0 0 10px $brand_link_color;
            color: darken($brand_link_color, 40%);
            padding: 10px;
            margin-top: 10px;
            outline: none;
            border: none;
            color: $brand_text_color;
            box-shadow: 0 0 10px $brand_link_color;
            width: 150px;
            float: right;
            transition: all .2s linear;
            &:hover {
                // background: lighten($brand_link_color, 10%);
                // box-shadow: none;
                background: linear-gradient(-90deg, $brand_link_color, lighten($brand_link_color, 20%));
                transform: scale(.9);
            }
        }
    }
    @media (max-width: $screen_width_max_lg) {
        flex-direction: column;
        align-items: center;
        .form {
            margin-right: 20px;
        }
        .blockText {
            display: none;
        }
    }
}

// === / callback_part ===
footer {
    background-color: #222;
    padding: 16px 40px;
    p {
        color: #454545;
    }
}